/*
  text color: #293641
  highlight color: #5EC1B4
*/
html {
  color: #293641;
  font-family: 'FiraSans', sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.container > header {
  position: relative;
  height: 170px;
  margin: 100px 0 0;
}
.container > header ul {
  float: left;
  margin: 0 0 0 50px;
  padding: 0;
}
.container > header li {
  list-style: none;
  float: left;
}
.container > header li a {
  float: left;
  margin: 0 10px;
  padding: 0 20px;
  height: 168px;
  line-height: 156px;
  border-bottom: 2px solid #FFF;

  color: #5EC1B4;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.container > header li a:hover,
.container > header li a:focus {
  border-bottom-color: #5EC1B4;
}
.container > header li.active a {
  color: #293641;
  border-bottom-color: #293641;
}
.container > header h1 {
  float: left;
  width: 170px;
  height: 170px;
  margin: 0;

  background: #293641;
}

.container > header h1 a {
  display: block;
  height: 170px;
  color: #fff;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
  padding: 20px;
  box-sizing: border-box;
}

.container > header h1 a:hover{
  color:#fff;
  background-color: #5EC1B4;
}

/* content */

.content {
  padding: 40px 0;
  font-size: 24px;
}

.content a {
  color: #5EC1B4;
  font-weight: 400;
}

.content a:focus,
.content a:hover {
  text-decoration: none;
}

.content article a,
.content article .tbd {
  display: block;
  color: #293641;
  text-decoration: none;
  border-bottom: 1px solid #B0CEC9;
  overflow: hidden;
  padding: 40px 20px;
  font-weight: 300;
}

.content article .tbd{
  color: #8E9DAA;
}

.content article a:hover div,
.content article a:focus div {
  color: #5EC1B4;
}
.content  article header {
  float: left;
  width: 170px;
}
.content  article h6 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: 500;
}
.content  article header .year {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.618;
}
.content  article header + div {
  margin-left: 200px;
}
.content  article h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}
.content  article p {
  margin: 0;
}

/* home */
.home .content {
  margin-left: 30.667%;
}

/* events */

/* news */
.newsletter {
  padding: 0 20px;
  border-bottom: 1px solid #B0CEC9;

  background: #E5F7F4;
  font-size: 18px;
  overflow: hidden;
}

.newsletter p:first-child {
  float: left;
  line-height: 30px;
  position: relative;
  top: 2px;
}
.newsletter p:first-child + p {
  float: right;
}

.newsletter label {
  font-weight: 500;
}
.newsletter input {
  font: inherit;
  width: 240px;
  margin: 0 10px;
}

.newsletter button {
  border: none;
  background: #5EC1B4;
}

/* camp */
.camp .content {
  padding-top: 100px;
}
.camp .content header {
  float: left;
  text-align: center;
  width: 22.667%;
}
.camp .content header h6 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: 500;
}
.camp .content header .day{
  display: block;
}
.camp .content header .day sup{

}
.camp .content header .year {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.618;
}
.camp .content header hr {
  border: 0;
  border-top: 2px solid #5EC1B4;
  width: 70px;
  margin: 0 auto;
}
.camp .attend a {
  display: block;
  text-align: center;
  background: #5EC1B4;
  color: #fff;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
}
.camp .attend a:focus,
.camp .attend a:hover {
  text-decoration: none;
  background: #293641;
}

.camp .content header + div {
  margin-left: 30.667%;
}

.camp .content h1 {
  margin: 0;
}

.camp .content h2 {
  line-height: 48px;
  font-weight: 100;
}

.camp .content h3 {
  margin-top: 42px;
  margin-bottom: 0px;
}

.camp .content div.main p {
  margin-top: 12px;
}

.camp img.img--right{
  text-align: right;
  width: 100%;
}

.camp section.sponsorship{
  background: #F0FBFD;
  padding: 30px;
}

.camp section.sponsorship h3{
  margin-top: 0;
}

.camp section.sponsorship a{
  display: block;
  text-align: center;
  background: #5EC1B4;
  color: #fff;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
}

.camp section.sponsorship a:hover{
  background: #293641;
  text-decoration: none;
}


/* Media Queries  */

@media(max-width: 760px) {

  .container > header{
    margin-top: 0;
  }

  .container > header h1 {
    float: none;
    margin: auto;
  }

  .container > header ul {
    clear: left;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }

  .container > header li {
    width: 33.333%;
  }

  .container > header li a {
    height: 74px;
    line-height: 74px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .home .content {
    clear:left;
    margin-left: 0;
    padding: 0px 20px 20px 20px;
  }

  /*News*/

  .newsletter input{
    margin: 0;
    width: calc(100% - 100px);
  }

  .newsletter p:first-child,
  .newsletter p:first-child + p {
    float: none;
  }

  .content article.event header{
    float: none;
    width: 100%;
  }

  .content article.event header h6{
    font-size: 24px;
  }

  .content article.event header .year{
    display: inline;
  }

  .content article.event header + div{
    margin-left: 0;
  }

  /*Camp*/
  .camp .content header {
    background: #E5F7F4;
    float: none;
    margin-top: 6px;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 24px;
  }

  .camp .content header h6, .camp .content header p.location, .camp .content header p.price {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    width: 30%;
    vertical-align: middle;
  }

  .camp .content header h6 {}

  .camp .content header p.attend{
    margin: 24px auto 24px auto;
    width: 80%;
  }

  .camp .content header hr {
    display: none;
  }

  .camp .content header + div {
    clear:left;
    margin-left: 0;
    margin-top: 30px;
    padding: 0px 20px 20px 20px;
  }
}
