/*
  text color: #293641
  highlight color: #5EC1B4
*/
html {
  color: #293641;
  font-family: 'FiraSans', sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.clear{
  clear: both;
}

.container {
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.container > header {
  position: relative;
  height: 170px;
}
.container > header ul {
  float: left;
  margin: 0 0 0 50px;
  padding: 0;
}
.container > header li {
  list-style: none;
  float: left;
}
.container > header li a {
  float: left;
  margin: 0 10px;
  padding: 0 20px;
  height: 168px;
  line-height: 156px;
  border-bottom: 2px solid #FFF;

  color: #5EC1B4;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.container > header li a:hover,
.container > header li a:focus {
  border-bottom-color: #5EC1B4;
}
.container > header li.active a {
  color: #293641;
  border-bottom-color: #293641;
}
.container > header h1 {
  float: left;
  width: 170px;
  height: 170px;
  margin: 0;

  background: #293641;
}

.container > header h1 a {
  display: block;
  height: 170px;
  color: #fff;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
  padding: 20px;
  box-sizing: border-box;
}

.container > header h1 a:hover{
  color:#fff;
  background-color: #5EC1B4;
}

/* content */

.content {
  padding: 40px 0;
  font-size: 24px;
}

.content a {
  color: #5EC1B4;
  font-weight: 400;
}

.content a:focus,
.content a:hover {
  text-decoration: none;
}

.content article a,
.content article .tbd {
  display: block;
  color: #293641;
  text-decoration: none;
  border-bottom: 1px solid #B0CEC9;
  overflow: hidden;
  padding: 40px 20px;
  font-weight: 300;
}

.content article .tbd{
  color: #8E9DAA;
}

.content article a:hover div,
.content article a:focus div {
  color: #5EC1B4;
}
.content  article header {
  float: left;
  width: 170px;
}
.content  article h6 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: 500;
}
.content  article header .year {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.618;
}
.content  article header + div {
  margin-left: 200px;
}
.content  article h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}
.content  article p {
  margin: 0;
}

/* home */
.home .content {
  margin-left: 220px;
  float: left;
  width: 60%;
}

/* events */

.events .content {
  margin-left: 220px;
  float: left;
  width: 60%;
}

/* news */

.new .content {
  margin-left: 220px;
  float: left;
  width: 60%;
}

.newsletter {
  padding: 0 20px;
  border-bottom: 1px solid #B0CEC9;

  background: #E5F7F4;
  font-size: 18px;
  overflow: hidden;
}

.newsletter p:first-child {
  float: left;
  line-height: 30px;
  position: relative;
  top: 2px;
}
.newsletter p:first-child + p {
  float: right;
}

.newsletter label {
  font-weight: 500;
}
.newsletter input {
  font: inherit;
  width: 240px;
  margin: 0 10px;
}

.newsletter button {
  border: none;
  background: #5EC1B4;
}

/* camp */

.camp .content {
  padding-top: 100px;
}
.camp .content header {
  float: left;
  text-align: center;
  max-width: 170px;
  margin-left: 105px;
  width: 22.667%;
}

.container > header h1 {
background: #1accbc;
background: -moz-linear-gradient(top,  #1accbc 0%, #1bcba2 100%);
background: -webkit-linear-gradient(top,  #1accbc 0%,#1bcba2 100%);
background: linear-gradient(to bottom,  #1accbc 0%,#1bcba2 100%);

  width: 170px;
}

.container > header a.back {
  display: block;
  height: 170px;
  background: #293641;
  float: left;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  width: 105px;
}

.container > header a.back:before{
  content: "\2039";
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 65px;
  text-align: center;
  font-size: 72px;
  text-indent: 0;
  line-height: 30px;
}

.container > header a.back:hover{
  background: #5EC1B4;
}

.container > header h1 a {
  display: block;
}

.camp .content header img {
  display: block;
  max-width: 100%;
}

.camp .content header figure {
  margin-top: 42px;
}
.camp .content header figcaption h2 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.618;
  margin: 0;
}

.camp .content header figcaption p {
  margin: 0;
}

.camp .content header .bio {
  font-size: .8em;
}

.camp .content header h6 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: 500;
}
.camp .content header .day{
  display: block;
}
.camp .content header .day sup{

}
.camp .content header .year {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.618;
}
.camp .content header hr {
  border: 0;
  border-top: 2px solid #293641;
  width: 70px;
  margin: 0 auto;
}
.camp .attend a {
  display: block;
  text-align: center;
  background: #5EC1B4;
  color: #fff;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
}
.camp .attend a:focus,
.camp .attend a:hover {
  text-decoration: none;
  background: #293641;
}

.camp .content div.main {
  margin-left: 50px;
  float: left;
  max-width: 750px;
  width: 60%;
}

.camp .content div.main.details {
  margin-left: 325px;
  float: left;
  width: 60%;
}

.camp .content h1 {
  margin: 0;
}

.camp .content h2 {
  line-height: 48px;
  font-weight: 100;
  margin-top: 0;
}

.camp .content h3 {
  margin-top: 42px;
  margin-bottom: 0px;
}

.camp .content div.main p {
  margin-top: 12px;
}

.camp .content ul{
  margin: 0;
  padding: 0;
}

.camp .content ul li{
  display: inline-block;
  list-style: none;
  font-size: 18px;
  padding-right: 20px;
  margin-bottom: 24px;
  width: 170px;
}

.camp .content ul li img{
  width: 170px;
  height: 170px;
}

.camp img.full_image{
  margin-top: 72px;
  margin-bottom: 72px;
  width: 100%;
}

.camp img.img--right{
  text-align: right;
  width: 100%;
}

section.offliners{
  padding-top: 72px;
  padding-bottom: 120px;
}
section.credits{
  background: #FCFCFC;
  clear: both;
  padding-top: 120px;
  margin-top: 120px;
  float: left;
  width: 100%;
}

div.sponsors{
  margin-left: 325px;
  margin-bottom: 120px;
  float: left;
  width: 50%;
  max-width: 750px;
}
div.sponsor{
  margin-bottom: 36px;
}

div.sponsor.ibm{
  margin-bottom: 96px;
}

div.sponsor p{
  font-size: 36px;
  font-weight: 100;
}

div.sponsor img.ibm{
  width: 250px;
}

div.sponsor img.yld{
  width: 120px;
}
div.sponsor img.meetup{
  width: 200px;
}

div.event-partners{
  margin-left: 325px;
  float: left;
  max-width: 750px;
  width: 50%;
}

div.event-partners{
  margin-bottom: 120px;
}

.camp div.event-partners ul{
  margin-top: 72px;
}

.camp div.event-partners ul li{
  margin-right: 40px;
  margin-bottom: 42px;
  height: auto;
  width: auto;
}

div.event-partners ul li img.hoodie{
  width: 260px;
  height: auto;
}

div.event-partners ul li img.makemodel{
  width: 140px;
  height: auto;
}

div.event-partners ul li img.bocoup{
  width: 220px;
  height: auto;
}

div.profiles{
  margin-left: 325px;
  margin-bottom: 96px;
  float: left;
  width: 60%;
  max-width: 750px;
}

div.apply{
  clear: both;
  background: #FFF;
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
}

div.apply span{
  padding: 0 20px;
}

div.apply a{
  display: inline-block;
  text-align: center;
  font-weight: 500;
  line-height: 60px;
  padding: 0 20px;
  margin: 0 0 0 20px;
}

div.apply a:hover{
  color: #293641;
}

.camp div.profiles ul li{
  vertical-align: top;
}

.camp div.profiles ul li img{
  margin: auto;
}

.camp section.sponsorship{
  background: #F0FBFD;
  padding: 30px;
}

.camp section.sponsorship h3{
  margin-top: 0;
}

.camp section.sponsorship ul{
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px dotted rgba(0,0,0,.15);
}

.camp section.sponsorship li.ibm{
  background: url(../images/ibmpos_black.svg) no-repeat 0 0 rgba(0, 0, 0, 0);
  text-indent: -9999px;
  padding: 12px;
  margin: 18px 12px 12px 12px;
}

.camp section.sponsorship a{
  display: block;
  text-align: center;
  background: #5EC1B4;
  color: #fff;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
}

.camp section.sponsorship a:hover{
  background: #293641;
  text-decoration: none;
}

.video {
  font-size: 14px;
  margin-bottom: 18px;
}

/* Sponsorships */

canvas.release-confetti{
  display: none;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.camp .content ul.sponsorships{

}

.camp .content ul.sponsorships li{
  padding: 0;
  width: 100%;
}

.camp .content ul.sponsorships a{
  background: #FCFCFC;
  box-sizing: border-box;
  border: 3px solid #FCFCFC;
  color: #293641;
  padding: 20px;
  display: block;
  text-decoration: none;
  width: 100%;
}

.camp .content ul.sponsorships a:hover{
  color: #5EC1B4;
  border: 3px solid #5EC1B4;
}

.camp .content ul.sponsorships span.name{
  font-size: 24px;
  font-weight: 600;
}
.camp .content ul.sponsorships span.price{
  float: right;
}

/* Media Queries  */

@media(max-width: 775px) {

  .container > header{
    margin-top: 0;
  }

  .container > header h1 {
    float: none;
    margin: auto;
  }

  .container > header ul {
    clear: left;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }

  .container > header li {
    width: 33.333%;
  }

  .container > header li a {
    height: 85px;
    line-height: 85px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .home .content,
  .events .content,
  .new .content {
    clear:left;
    margin-left: 0;
    padding: 0 5%;
    width: 90%;
  }

  /*News*/

  .newsletter input{
    margin: 0;
    width: calc(100% - 100px);
  }

  .newsletter p:first-child,
  .newsletter p:first-child + p {
    float: none;
  }

  .content article.event header{
    float: none;
    width: 100%;
  }

  .content article.event header h6{
    font-size: 24px;
  }

  .content article.event header .year{
    display: inline;
  }

  .content article.event header + div{
    margin-left: 0;
  }

  /*Camp*/
  .camp .content header {
    background: #FCFCFC;
    float: none;
    margin-top: 6px;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 24px;
  }

  .camp .content header h6, .camp .content header p.location, .camp .content header p.price {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    width: 30%;
    vertical-align: middle;
  }

  .camp .content header h6 {}

  .camp .content header p.attend{
    margin: 24px auto 24px auto;
    width: 80%;
  }

  .camp .content header hr {
    display: none;
  }

  .camp .content header + div {
    clear:left;
    margin-left: 0;
    margin-top: 30px;
    padding: 0px 20px 20px 20px;
  }
}

.camp div.logo{
  width: 100%;
  max-width: 275px;
  float: left;
}

@media(max-width: 970px){
  .camp div.logo{
    width: 30%;
    max-width: 275px;
    float: left;
  }

  .container > header h1{
    float: left;
    width: 80%;
  }
  .container > header a.back{
    float: left;
    width: 20%;
  }

  .home .container > header h1,
  .events .container > header h1,
  .new .container > header h1{
    width: 100%;
  }

  .container > header nav{
    float: left;
    width: 70%;
  }

  .container > header nav ul{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container > header li{
    width: 25%;
  }

  .container > header li a{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .camp .content header{
    margin-left: 6%;
  }
}

@media(max-width: 775px){


  .container > header ul{
    margin-top: 0;
  }
  .container > header li{
    width: 50%;
  }
  .container > header nav li a{
    border:none;
  }
  .container > header nav li.active a{
    font-weight: 600;
  }
  .camp .content{
    padding-top: 0;
    clear: left;
  }
  .camp .content header{
    margin: 0;
    max-width: none;
    width: 100%;
  }
  .camp .content header h6,
  .camp .content header p.location,
  .camp .content header p.price{
    display: block;
    width:
    100%;
  }
  .camp .content header h6 span,
  .camp .content header h6 span.day,
  .camp .content header h6 span.year{
    display: inline;
    font-size: 18px;
    font-weight:normal;
  }

  .camp .content div.main,
  .camp .content div.main.details{
    margin: 24px 5%;
    padding: 0;
    width: 90%;
  }

  .camp img.full_image{
    margin: 0;
  }

  section.credits{
    margin-top: 24px;
    padding-top: 24px;
  }
  div.sponsors,
  div.event-partners,
  div.profiles,
  div.apply{
    margin: 48px 5%;
    width: 90%;
  }

  .camp div.profiles ul li{
    margin: 24px 2.5%;
    padding: 0;
    float: left;
    width: 45%;
  }
  .camp div.profiles ul li img{
    height: auto;
    width: 100%;
  }
  .camp div.profiles ul li a{
    display: block;
  }
}

@media(max-width: 600px) {
  .camp div.logo{
    width: 100%;
    max-width: none;
    float: left;
  }
  .container > header nav{
    width: 100%;
  }
}
