/*

Offline First!

yellow: #F9E682;
turquoise: #106079;
beige: #FCFBF5;

 */

body{
  background-color: #FCFBF5;
  color: #106079;
  line-height: 1.25em;
  letter-spacing: 1px;
  max-width: 31.25em;
  margin: 0 auto;
}

a{
  color: #106079;
  text-decoration: none;
  border-bottom: 3px solid #F9E682;
}

a:active, a:hover {
  outline: 0;
  border-bottom: 3px solid #106079;
}

a.block{
  display: inline-block;
  text-decoration: none;
  width: auto;
  line-height: 2em;
  padding: 0 .5em;
  margin: 0;
  text-align: left;
  border: 3px solid #106079;
  background-color: #F9E682;
  color: #106079;
}

a.block:hover{
  background-color: #106079;
  color: #F9E682;
}

header {
  margin-top: 1.4em;
  position: relative;
  margin-bottom: 3.1em;
}

header:after{
  content: "";
  width: 12em;
  height: 5.2em;
  background: url('../images/title.svg') no-repeat;
  display: block;
  position: absolute;
  bottom: -2.75em;
  left: 1em;
}

header img{
  display: block;
  max-width: 95%;
  margin: 0 auto;
  border: 3px solid #106079;
}

.content{
  width: 100%;
  max-width: 29.6em;
  margin: 0 auto;
  position: relative;
}

.content .lead{
  position: absolute;
  height: 100%;
  height: calc(100% - 6em);
  width: 2.37em;
  border-left: 3px solid #106079;
  border-bottom: 3px solid #106079;
  bottom: 5.56em;
  left: 1.56em;
}

.no-lead {
  padding-top: 1.25em;
}

p, ul, #mc_embed_signup{
  margin-left: 4.37em;
  margin-right: .625em;
}

h1, h2, h3, h4, h5, h6{
  margin-left: 3.125em;
  margin-right: .625em;
}

#mc_embed_signup{
  margin-bottom: 3.125em;
}

#mce-EMAIL{
  width: 80%;
  height: 2em;
  padding: 0 .5em;
  margin: 1em 0;
  border: 3px solid #106079;
  background-color: #F9E682;
  color: #106079;
}

#mce-EMAIL:hover{
  background-color: #106079;
  color: #F9E682;
}

#mce-EMAIL:focus{
  background-color: #106079;
  color: #F9E682;
  outline: none;
}

#mc-embedded-subscribe{
  width: auto;
  line-height: 2em;
  padding: 0 .5em;
  margin: 0;
  text-align: left;
  border: 3px solid #106079;
  background-color: #F9E682;
  color: #106079;
}

#mc-embedded-subscribe:hover{
  background-color: #106079;
  color: #F9E682;
}

#mc-embedded-subscribe:focus{
  background-color: #106079;
  color: #F9E682;
  outline: none;
}

#mce-EMAIL, #mc-embedded-subscribe{
  border-radius: 0;
  -webkit-appearance: none;
}

ul{
  padding-left: 0;
}

li{
  list-style: none;
  margin-bottom: 8px;
}

li:before{
  content:"";
  width: .625em;
  height: 3px;
  display: block;
  position: absolute;
  background: #106079;
  margin: .5em 0 0 -1.25em;
}

.readerArchive{
  margin-bottom: 6.25em;
}

